
<h1>Libraries</h1>

<div class="well">
    <div class="nav nav-pills">
        {{#link-to 'libraries.index' tagName="li"}} <a href="">All</a> {{/link-to}}
        {{#link-to 'libraries.new' tagName="li"}} <a href="">Add New</a> {{/link-to}}
    </div>
</div>

{{outlet}}